<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Open/close sidenav" (click)="sideSettings.toggle()">
    <mat-icon>settings</mat-icon>
  </button>
  <span>Image To Static Particles</span>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sideSettings class="sidenav" mode="side">
    <h2>Settings</h2>

    <ng-container *ngFor="let setting of settings">
      <mat-card *ngIf="!setting.parent || itsp[setting.parent] === true">
        <mat-label *ngIf="setting.type !== 'checkbox'">{{setting.label}}</mat-label>
        <mat-slider *ngIf="setting.type === 'slider'"
                    thumbLabel
                    [step]="setting.step"
                    [min]="setting.min"
                    [max]="setting.max"
                    aria-label="{{setting.label}}"
                    [value]="setting.default"
                    [(ngModel)]="itsp[setting.valueName]"></mat-slider>
        <mat-checkbox *ngIf="setting.type === 'checkbox'" [checked]="setting.default"
                      [(ngModel)]="itsp[setting.valueName]">
          {{setting.label}}
        </mat-checkbox>
        <ng-container *ngIf="setting.type === 'one-of'">
          <br><br>
          <mat-button-toggle-group [value]="setting.default" [(ngModel)]="itsp[setting.valueName]">
            <mat-button-toggle [value]="true">
              {{setting.optionA}}
            </mat-button-toggle>
            <mat-button-toggle [value]="true">
              {{setting.optionB}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </ng-container>
      </mat-card>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-contents">
    <span class="container">

      <canvas #canvas style="display: none"></canvas>

      <mat-card class="input-container" *ngIf="!processing.isProcessing && !hasError">
        <label for="input-image">
          {{processing.file ? 'Select another image' : 'Select image'}}
        </label>
        <input type="file" id="input-image" accept="image/*" (change)="onFileSelect($event)">
        <br>
        <ng-container *ngIf="!!processing.file">
          <p>
            {{processing.file.name}}
          </p>
        </ng-container>
        <button mat-raised-button color="primary" [disabled]="!processing.file" (click)="startProcessing()">Go</button>
      </mat-card>

      <mat-card *ngIf="processing.isProcessing" class="processing-card">
        <h2>Processing file</h2>
        <h4>Stage: {{processing.stage + 1}}/5</h4>
        <span>
          {{stages[processing.stage]}}
        </span>
        <br>
        <mat-progress-bar [mode]="(processing.stage < 4) ? 'indeterminate' : 'determinate'" [value]="processing.progress"
                          color="accent"></mat-progress-bar>
        <ng-container *ngIf="processing.stage === 2 || processing.stage === 3">
          <p>
            Detected {{itsp.pixels.length}} pixels
          </p>
        </ng-container>
        <ng-container *ngIf="processing.stage === 4">
          <span class="progress-counter">
          {{processing.progress}}%
        </span>
        <span>
          Reaming: {{processing.reaming}}
        </span>
        </ng-container>
      </mat-card>

      <mat-card class="error-card" *ngIf="hasError">
        <h2>Error</h2>
        <span>Oops! Error occurred while loading image, please try again!</span>
        <br>
        <span>More details in console</span>
        <br>
        <button mat-raised-button (click)="hasError = false" color="warn">Dismiss</button>
      </mat-card>

    </span>
  </mat-sidenav-content>
</mat-sidenav-container>
